<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.mJeliot.androidClient"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:icon="@drawable/icon"
    				android:label="@string/app_name"
    				android:name="org.mJeliot.androidClient.controller.Controller">
    	<activity android:name=".view.Start"
                  android:label="@string/app_name">
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
	        </activity>
        <activity android:name=".view.Login"
        android:label="@string/app_name">
            <intent-filter>
                <action android:name="org.mJeliot.androidClient.LOGIN" />
            </intent-filter>
	        </activity>
 		<activity android:name=".view.Wait"
 		android:label="@string/app_name">
			<intent-filter>
				<action android:name="org.mJeliot.androidClient.WAIT" />
			</intent-filter>
		</activity>
		<activity android:name=".view.predict.Predict"
		android:label="@string/app_name"
		android:noHistory="true">
			<intent-filter>
				<action android:name="org.mJeliot.androidClient.predict.PREDICT" />
			</intent-filter>
		</activity>
		<activity android:name=".view.predict.ViewResult"
		android:label="@string/app_name"
		android:noHistory="true">
			<intent-filter>
				<action android:name="org.mJeliot.androidClient.predict.VIEWRESULT" />
			</intent-filter>
		</activity>
    </application>


</manifest> 